<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>

        document.addEventListener("DOMContentLoaded", function() {
            
            // start by loading first page
            load_page('first')

            // Set links up to load new pages
            document.querySelectorAll('.nav-link').forEach(link => {

                link.onclick = () => {
                    load_page(link.dataset.page);
                    return false;
                }

            })

        })

        // update text on popping state
        window.onpopstate = e => {
            const data = e.state;
            document.title = data.title
            document.querySelector('#body').innerHTML = data.text
        }
        async function load_page(name) {
            try {
                const response = await fetch(`/${name}`);
                const data = await response.text();

                document.querySelector('#body').innerHTML = data;
                document.title = name;

                const state = {'title': name, 'text': data}; // Store only necessary information
                history.pushState(state, name, name);

            } catch (error) {
                console.error("Error:", error);
            }
        }

    </script>
</head>
<body>
    
    <ul id="nav">
        <li><a href="" class="nav-link" data-page="first">First Page</a></li>
        <li><a href="" class="nav-link" data-page="second">Second Page</a></li>
        <li><a href="" class="nav-link" data-page="third">Third Page</a></li>
    </ul>

    <div id="body"></div>

</body>
</html>